<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <h1>User table</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">stt</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Phone</th>
            <th scope="col">Sex</th>
            <th scope="col">groupId</th>
          </tr>
        </thead>
        <tbody>
          <% userList.forEach(function(item,index){ %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= item.username %></td>
            <td><%= item.email %></td>
            <td><%= item.phone %></td>
            <td><%= item.sex %></td>
            <td><%= item.groupId %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
